<div ng-controller="getBookList"> 
<div>
<h1 id="list_title">List of Books</h1>
</div>
             <my-directive list="getList" on-delete="deleteBook(param)"></my-directive>    
              <!-- <table class="table table-hover">
            <tr>
                <th>Id</th>
                <th>Title Of Book</th>
                <th>Year of Publish</th>
                <th>Favorite</th>
                <th>Operation</th>
            </tr>
            <my-directive list="getList"></my-directive> 
             <tr ng-repeat='x in getList'>
                    <td>{{ x.id }}</td>
                    <td><a href='#EditBook/{{x.id}}'>{{ x.title }}</a></td>
                    <td>{{ x.year }}</td>
                    <td>{{ x.favorite }}</td>
                    <td><a href='' ng-click='deleteBook(x.id)'>Delete</a></td>
            </tr>
                   --> 
            </table> 
</div>