 <table id="tbl" class="table table-hover">
            <tr>
                <th>Id</th>
                <th>Title Of Book</th>
                <th>Year of Publish</th>
                <th>Favorite</th>
                <th>Operation</th>
            </tr>

            <tr ng-repeat="x in list">
                    <td id="itemId">{{ x.id }}</td>
                    <td id="title"><a id="edit" href='#EditBook/{{x.id}}'>{{ x.title }}</a></td>
                    <td id="year">{{ x.year }}</td>
                    <td id="favorite">{{ x.favorite }}</td>
                    <td id="deleteOprn"><a id="delete" href='' ng-click='onDelete({param: x.id})'>Delete</a></td>
            </tr>
 </table>