 <table class="table table-hover">
            <tr>
                <th>Id</th>
                <th>Title Of Book</th>
                <th>Year of Publish</th>
                <th>Favorite</th>
                <th>Operation</th>
            </tr>

            <tr ng-repeat='x in ctrl.list'>
                    <td>{{ x.id }}</td>
                    <td><a href='#EditBook/{{x.id}}'>{{ x.title }}</a></td>
                    <td>{{ x.year }}</td>
                    <td>{{ x.favorite }}</td>
                    <td><a href='' ng-click='deleteBook(x.id)'>Delete</a></td>
            </tr>
 </table>